body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    color: rgba(255, 255, 255, 0.6) !important;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.rounded-3 {
    border-radius: 0.75rem !important;
}

.type-action {
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    max-width: 100%;
    width: 100%;
}

a, button:focus{
    outline: none;
}

.close {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 30px;
}

.text-danger {
    color:#8c0f0f !important
}