@model ClassLibrary.Entities.Hero
    
@Html.HiddenFor(model => model.ID)
<div class="row">
    <div class="col-lg-4 mt-2 pr-0 col-md-5">
        <div class="card bg-secondary card-success">
            <div class="card-body" style="height:75vh;overflow-y: scroll;">
                @Html.Partial("_CharacterDetails", Model)
            </div>
        </div>
    </div>
    <div class="col-lg-5 mt-2 pr-0 col-md-7">
        <div class="card bg-secondary card-primary h-100">
            <div class="card-body" style="height:75vh;overflow-y: scroll;">
                <div class="row" id="events-container">
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <input class="bg-secondary type-action" id="type-action-input" type="text" placeholder="Type your action ..." aria-label="Action input" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 mt-2 pr-0">
        <div class="card bg-secondary card-default h-100">
            <div class="card-body" style="height:75vh;overflow-y: scroll;">Equipment</div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/scripts/Gameplay.js")
}